<div class="channel <%= 'channel-long' if version == 'long' %>">
  <div class="top" style="background: <%= channel.currency.color_hexidecimal %>;">
    <%= show_svg("#{channel.currency.symbol}.svg") %>
    <div class="currency-name">
      <%= channel.currency.name %>
      <% if version == 'long' && current_user.present? && current_user.admin? %>
        <%= link_to edit_channel_path(channel) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="middle" style="background: <%= channel.currency.color_hexidecimal %>;">
    <div class="name"><%= channel.name.html_safe %></div>
    <% if version == 'long' %>
      <div class="description">
        <%= channel.description %>
        <hr>
        <ul class="fa-ul">
          <% if channel.source_name.present? && channel.source_url.present? %>
            <li>
              <i class="fa-li fa fa-database" title="data source"></i>
              <span class="colon">:</span>
              <%= link_to channel.source_url, channel.source_url, target: "_blank" %>
            </li>
          <% end %>
          <li>
            <i class="fa-li fa fa-clock-o" title="frequency of alert logic"></i>
            <span class="colon">:</span>
            refreshed every 1 minute
          </li>
          <li>
            <i class="fa-li fa fa-bell" title="delivery method"></i>
            <span class="colon">:</span>
            via email (at most, once every <%= frequency_text(channel) %>)
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="bottom">
    <% if current_user.present? %>
      <% on_off = 'on' %>
      <% on_off = 'off' if current_user.subscriptions.where(channel_id: channel.id).any? %>
      <div class="subscription-link-container-channel-<%= channel.id %>">
        <% if on_off == 'on' %>
          <%= render 'channels/on_switch_link', channel: channel %>
        <% elsif on_off == 'off' %>
          <%= render 'channels/off_switch_link', channel: channel %>
        <% end %>
      </div>
    <% else %>
      <%= link_to signup_path do %>
        <%= image_tag('off_switch.png') %>
      <% end %>
    <% end %>
  </div>
</div>
