<div class="row">
  <div class="col-md-1">
    <div class="pull-right">
      <% if @simulation_buy_quote_ids.include?(q.id) %>
        BUY ->
      <% elsif @simulation_sell_quote_ids.include?(q.id) %>
        SELL ->
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="progress">
      <% percent_change = 0.0 %>
      <% percent_change = Numbers.percent_change(q.price, comparison_average_price, 2) if comparison_average_price.present?  %>
      <% bar = 'info' %>
      <% bar = 'info' if percent_change > @percent_change_threshold %>
      <% bar = 'success' if percent_change < -@percent_change_threshold %>
      <% bar_length = ((q.price.to_f-@min)/(@max-@min))*100.to_f %>
      <div class="progress-bar progress-bar-<%= bar %>" role="progressbar" aria-valuenow="20" aria-valuemin="50" aria-valuemax="100" style="width: <%= bar_length.to_s %>%;">
        <span class="pull-left" style="margin-left:4px;">
          <%= q.traded_at_with_pretty_cst_time %>
          (#<%= q.id %>)
        </span>
        <span class="pull-right" style="margin-right:4px;">
          <% if comparison_average_price.present? %>
            (%<%= Numbers.percent_change(q.price, comparison_average_price, 2) %> &Delta; from <%= comparison_average_price.round(2) %> in <%= @lookback_hours %>hr running avg)
          <% end %>
          <%= q.price.to_f %>
        </span>
      </div>
      <% if previous_price.present? %>
        <span>
          %<%= Numbers.percent_change(q.price, previous_price, 2) %>
        </span>
      <% end %>
      <span class="pull-right">
        <span style="position: relative; left: -5px; color: #d1d7da; font-size: 11px;">
          <%= q.traded_at_with_pretty_cst_time %>
        </span>
      </span>
    </div>
  </div>
  <div class="col-md-3 no-left-padding">
    <% if current_running_price_average && previous_running_price_average %>
      <%= (q.price - current_running_price_average).round(2) %> |
      <%= (previous_running_price_average - current_running_price_average).round(2) %> |
    <% end %>
    <%= q.volume.to_s %>
    <% if previous_volume.present? %>
      <% vol_change = Numbers.percent_change(q.volume, previous_volume, 2) %>
      <% vol_class = vol_change > 2 ? "red" : "" %>
      <span class="<%= vol_class %>">
        (%<%= vol_change %>)
      </span>
    <% end %>
  </div>
</div>
