<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= t('application.root.name') %></title>
		<style type="text/css">
			body { font-family: sans-serif, "Helvetica Neue", Helvetica, Arial; color: #253238; }
			h2 { font-size: 32px; margin: 0px; }
			h3 { margin: 0px; }
			table { border-spacing: 0; width: 100%; }
			hr { border: none; border-top: solid 3px #ffffff; color: #ffffff; background-color: #ffffff; }
			a { color: #253238; text-decoration: none; }
			.big { font-size: 24px; font-weight: 400; line-height: 30px; }
			.large { font-size: 18px; font-weight: 400; }
      .small { font-size: 14px; }
			.signature { color: #868686; }
			.outer-table { background: #ffffff; padding: 0px 20px 20px 20px; }
			.inner-table {
        text-align: left; background: <%= @currency.color_hexidecimal %>; margin: 5px 0 0 0; padding: 0px; max-width: 550px;
        -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
        padding: 40px; color: #ffffff
      }
			.center { text-align: center; }
			.pull-right { float: right !important; }
			.rounded-border {border: 1px solid #d1d7da; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
			.summary { padding: 10px; background: #6681b3; color: white; }
			.bottom-summary { padding: 4px; background: #6681b3; }
			.date { font-size: 0.9em; padding-left: 10px; }
			.footer { color: #888888; font-size: 11px; font-weight: 400; padding: 5px 0px 0px 0px; line-height: 14px; }
			.btn { display: inline-block; border-radius: 8px; text-decoration: none; cursor: pointer; text-align: center;
				padding: 12px 40px; font-size: 16px; font-weight: 400; color: #253238; background-color: #e0e0e0; border-color: #ccc;
			}
			.coin {
				position: relative;
				top: -2px;
				left: -2px;
			}
			.name {
				height: 0px;
			}
			.name-inner {
				font-size: 44px;
				padding-left: 110px;
				padding-top: 25px;
			}
		</style>
	</head>
	<body>
		<table class="outer-table">
      <tr>
        <td>
          <table style="width: 550px;">
            <tr>
              <td style="padding-bottom:10px;", class="center">
								<%= link_to root_url do %>
									<img alt="<%= t('application.root.name') %>" src="https://s3.amazonaws.com/bitalertnow/logo.png" width="100" height="100">
								<% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
			<tr>
				<td>
					<table class="inner-table">
            <tr>
              <td style="padding-bottom:20px;">
								<div class="name">
									<div class="name-inner"><%= @currency.name %></div>
								</div>
								<img src="https://s3.amazonaws.com/bitalertnow/currencies/<%= @currency.symbol %>.png" width="100" height="100" class="coin">
              </td>
            </tr>
            <tr>
              <td style="font-size: 32px;">
                <%= @channel_name %>
              </td>
            </tr>
						<% if @notification_message.present? %>
							<tr>
								<td style="padding-top: 60px; padding-bottom: 20px;">
									<hr>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px; font-size: 62px;">
									<%= @notification_message %>
								</td>
							</tr>
						<% end %>
					</table>
				</td>
			</tr>
			<tr>
				<td class="footer">
					<table>
						<tr>
							<td>
								This email was sent by <%= link_to t('application.root.name'), root_url %>.
								If you don't want to receive emails in the future
								<%= link_to 'unsubscribe here', unsubscribe_url(unsubscribe_id: @user.auth_token) %>.
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
